.root {
  position: fixed;
  top: 50%;
  z-index: 9999;
  right: 50px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 12px;
  @media (max-width: 1200px) {
    right: 20px;
  }
  @media (max-width: 900px) {
    right: 10px;
    padding: 8px;
  }
  @media (max-width: 600px) {
    padding: 8px 5px;
  }
  @media (max-width: 400px) {
    box-shadow: none;
    padding: 0;
    right: 0;
  }

  button {
    background-color: #4e9af1;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    margin-top: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    @media (max-width: 900px) {
      padding: 4px 8px;
    }
    @media (max-width: 600px) {
      padding: 5px 7px;
    }
  }

  button:hover {
    background-color: #357dbf;
  }

  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
}

.currentPage {
  margin: 5px 0px;
}
