body {
  background-color: #fff;
}

.wrapper {
  width: 70%;
  height: 100%;
  margin: 50px auto;
  border-radius: 10px;
  max-width: 1400px;
  @media (max-width: 900px){
      width: 80%;
  }
  @media (max-width: 700px){
      width: 90%;
      margin: 30px auto;
  }
}

.content {
  margin: 0 auto;
  padding: 10px 20px;
}
