.root {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f8f8f8;
}

.container {
  width: 70%;
  margin: 0 auto;
  padding: 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}


